body{
    margin: 0;
    padding: 0;
}


.theheader{
    font-family: 'Roboto' , sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    background-color: #1F2937;
    padding: 10px;
    margin: 0;

}
.headerlinkthree{
    margin-right: 100px;
}
.left-links{
    font-weight: 900;
    display: flex;
    gap: 20px;
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    margin-left: 100px;
}

.right-links{
display: flex;
gap: 20px;
font-size: 18px;
color: #E5E7EB;
padding-top: 5px;

}

.first{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding-top: 100px;
    flex-wrap:nowrap;
    padding-bottom: 100px;

}

.texts{
    padding-left: 120px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 370px;
    justify-content: left;
    align-items: center;
    gap:10px;
    
    
}

.signup{
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 20px;
    display: flex;
    margin-right: auto;
    border-color: #3882F6;
}
.firsttitle{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.text{
    color: #E5E7EB;
    font-size: 18px;
    
}
.picture{
    display: flex;
    justify-content: right;
    margin: auto;
}
.space{

    height: 250px;
    width: 500px;
    display: flex;
    flex: 1 ;
    justify-content: right;
    align-items: center;
}

.second {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
}

.titleoftwo{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    background-color:#F9FAF8 ;
    padding-top: 30px;
}

.secondboxes {
    padding-top: 50px;
    display: flex;
    gap: 35px;
    margin-left: auto;
    margin-right: auto;
}

.boxone , .boxtwo , .boxthree , .boxfour {
    background-color:#F9FAF8 ;

    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.defaultbox {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    align-items: center;
}

.caption {
    background-color: #F9FAF8;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 150px;
    text-align: center;
    padding-bottom: 100px;
}

.third {
    background-color: #E5E7EB ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 90px;
}

.quote {
    color: #1F2937 ;
    font-size: 36px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px ;
    padding-bottom: 0px;
    
}

.author {
  padding-left: 500px;
  font-size: 20px;
}


.fourth {
    background-color:#F9FAF8 ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.fourthbox {
    background-color: #3882F6;
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 10px 0px; 
    border-radius: 5px;   
}

.fourthboxtext {
    margin-right: 250px;
}

.titleoffour {
    color: #F9FAF8;
    font-size: 20px;
}

.fourthbutton {
    background-color: #3882F6;
    color: white;
    border: 2px solid #F9FAF8;
    border-radius: 4px;
    padding: 4px 25px;
    margin-right: 0px;
}